<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Score Board</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
   <nav class="navbar" style="background-color: #067264">
      <div class="container-fluid">
         <span class="navbar-brand mb-0 h1" style="color: white;">Green Club Score Board</span>
      </div>
   </nav>
   <div class="container mt-5">

      <table class="table table-bordered" style="text-align: center;">
         <tr>
            <th style="background-color: cadetblue;">S No</th>
            <th style="background-color: cadetblue;">Team Name</th>
            <th style="background-color: cadetblue;">Score</th>
            <th style="background-color: cadetblue;">Place</th>
         </tr>
         <tbody>
            {% for row in data[0:] %}

            <tr>
               {% for cell in row %}
               {% if cell=="Not Selected "%}
               <td style="background-color: rgb(255, 0, 0); color: white;">{{ cell }}</td>
               
               {% else %}
               <td style="background-color: rgb(160, 203, 189);">{{ cell }}</td>
               {% endif %}
               {% endfor %}
            </tr>
            {% endfor %}

         </tbody>
      </table>
   </div>


   <div class="container">
      <footer class="py-3 my-4">
         <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://www.instagram.com/sl_aakash/"
                  class="nav-link px-2 text-body-secondary">Instagram</a></li>
            <li class="nav-item"><a href="https://github.com/aakashsl"
                  class="nav-link px-2 text-body-secondary">Github</a>
            </li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/aakash-sl"
                  class="nav-link px-2 text-body-secondary">LinkedIn</a></li>
         </ul>
         <p class="text-center text-body-secondary">© 2024 Aakash SL  -MD <a style="color: #067264; text-decoration: none;" href="https://www.nediveil.in">Nediveil Technologies</a></p>
      </footer>
   </div> 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

</html>